body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
  list-style: none;
}

.delete-form {
  display: inline-block;
}

.delete-form button {
  color: white;
  background-color: red;
  border-radius: 20%;
}